.em-wrapper-product-06{
	margin-bottom:$padding3x;
	.block-title{border:1px solid #ebebeb; margin-bottom:$padding2x;
		p.h2{ text-align:center; text-transform:uppercase; position:relative; margin:-1px; float:left; overflow:hidden; padding:0 30px 0 0;
		span{position:relative; z-index:1; padding:12px 20px; color:#fff; background:#00bff3; display:block; 
			&:before{
				content:''; width:40px; height:40px; position:absolute; top:6px; right:-17px; z-index:-1; background:#00bff3; -ms-transform: rotate(45deg); 
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
				}
			}
		}
		.item_wrapper{
			ul{
				overflow:hidden; margin:14px 0;
				.item{ float:left; padding:0 $padding2x; position:relative; text-align:right;
					&:before{ content:''; border-left:1px solid #ebebeb; position:absolute; top:0; left:0; width:1px; height:$padding2x;}
					&:first-child{ &:before{display:none}}
					a{ color:#111111; font-weight:bold;
						&:hover{
							color:#00bff3;
						}
					}
				}
			}
		}
	}
	.block-brands{
		border:1px solid #ebebeb; overflow:hidden; border-bottom:0; margin-bottom:20px;
		li{ float:left; width:50%;
			&.odd{ border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb;}
			&.even{ border-bottom:1px solid #ebebeb}
		}
	}
	
	.block-banner{margin-bottom:10px;}
	.block-products{
		.owl-carousel .owl-item{ padding:0;}
		.products-grid { margin:0 -10px;
			.item{ padding:10px;margin:0 0 10px;@include border-radius(0); border:0 none;@include transition1;&:hover{padding:2px; margin:0;}}
			
		}
	}
	
	.block-content{
		.bx-wrapper{ box-shadow:none;border:1px solid #ebebeb; overflow:hidden;margin-bottom:0;img{margin:0 auto;}
			.bx-viewport{ margin:49px 0 49px; ul li{ padding:11px 0}}
			.bx-controls-direction{ width:100%; text-align:center;
				a{ z-index:0;}
				a.bx-prev{&:before{@include font-awesome(\f106,31px)}; top:0; left:46%;}
				a.bx-next{&:before{@include font-awesome(\f107,31px)};bottom:0;left:46%;}
			}
		}
	}
	
	.home_right_content{
		border:1px solid #ebebeb;padding:14px 20px;
		.products-list div.item{
			margin-bottom:0;padding:11px 0 10px;
			&.last{padding-bottom:0;}
			.product-shop,.price-box,.product-name{ margin-bottom:0;}
		}
	}
	
}


/*===============RTL=================*/
.em-rtl{
	
}