.em-wrapper-product-08{
	margin-bottom:$padding3x;
	.block-title{ padding:12px 20px; margin-bottom:0; border:1px solid #ebebeb; border-top:2px solid #046fe3; background:#fff; text-transform:uppercase; color:#046fe3; border-bottom:0;
		h2,.h2{ margin-bottom:0;}
	}
	.block-banner{margin-bottom:10px;}
	.item_wrapper{
		overflow:hidden; margin:0; background:#fff; border:1px solid #ebebeb;
		.item{ float:left; padding:10px; width:20%; border-left:1px solid #ebebeb; margin-right:-1px;
			&:first-child{ border-left:0;}
			a{ color:#363636; display: block; width: 100%; text-align: center;
				img{ display:inline-block; vertical-align:top;}
				span{ display:block; clear:both;}
			}
		}
	}
	.block-products{
		.owl-carousel .owl-item{ padding:0;}
		.products-grid { margin:0 -10px;
			.item{ padding:10px;margin:0 0 10px;@include border-radius(0); border:0 none;@include transition1;&:hover{padding:2px; margin:0;}}
			
		}
	}
	
	
}


/*===============RTL=================*/
.em-rtl{

}