.em-wrapper-product-04{
	padding:15px 20px 18px;
	border:1px solid; border-top-width:2px;
	.widget-title.em-widget-title span{ font-size:110%; font-weight:500;}
	.product-item .product-shop{ padding-bottom:0.5rem;}
	.owl-theme .owl-controls .owl-pagination{ display:inline-block;top:20px;position:relative;margin-top:0;}
}
/*===============RTL=================*/
.em-rtl{
	
}