.em-wrapper-ads-01{	
	padding:35px 0;overflow:hidden;
	.item{ text-align:center; border-right:1px solid; 
	&.last{ border:0 none;};
	img{margin:0 auto 20px; display:block;}; 
	p{margin-bottom:0;}
	}
}