/*=============Tab Slider Simple============*/
.em-tabs,
.em-details-tabs{
	display:inline-block;
	width:100%;
	ul.em-tabs-control{
		li{
			display:inline-block;
			margin-bottom:-1px;
			a{
				position:relative;
				margin-right:0;
				padding:10px 20px;
			}
		}
	}
}
.products-list,
.products-grid{
	&.owl-carousel .owl-item{		
		.item{
			margin-right:0;	
		}
		.em-item-slider .products-grid{
			.item{
				margin-bottom:2rem;
				&.last{
					margin-bottom:0;
				}
			}
		}
	}
}

/*==========Show Pagination============*/
.owl-carousel{
	.owl-item{
		.item{
			float:none;
			margin-bottom:0;
			width:100%;
		}
	}
}

/*=============Tab Slider Product============*/
.r-tabs .r-tabs-nav .r-tabs-tab{margin-right:2px;}
.em-details-tabs.r-tabs,
.em-tabs{
	/*text-align:center;*/
	.em-tabs-control{
		border-bottom-width:1px;
		border-bottom-style:solid;
	}
	.r-tabs-nav .r-tabs-anchor{		
		border-width:1px;margin-top:1px;
		border-style:solid;text-transform:uppercase;@include transition1;
	}
	.r-tabs-panel{
		margin-bottom:0;
		padding-bottom:0;
	}
	.em-details-tabs-content,
	.em-tabs-content{
		padding:15px 0 0;
		div.item{
			@include cat-effect01;
		}
	}
}

.em-details-tabs{
	&.r-tabs .r-tabs-nav .r-tabs-anchor{
		margin-right:0;
	}
	&.r-tabs .em-details-tabs-content{
		border-width:1px;
		border-style:solid;
		margin-top:-1px;
		padding: 20px 30px;
		@include border-radius(0);
	}
	.tabs-control{
		text-align:left;
	}
}

/*tab title center, show icon*/
.em-tabs-widget{
	.products-grid li.item{
		width:100%;
	}
}

/*tab mobile*/
.r-tabs {
	.r-tabs-accordion-title{
		.r-tabs-anchor{
			text-transform:uppercase !important;
			border-width:1px !important;
			border-style:solid !important;
			clear:both;
			@include border-radius(0);
			@include transition1;
			&:hover{@include transition1;}
		}
		&.r-tabs-state-active{
			.r-tabs-anchor{
				
			}
		}
	}
}

/*===========Next Pre Slider============*/
.owl-theme .owl-controls{
	text-align: center;	
	margin-top:0 !important;
	.owl-pagination{
		margin-top:20px;
		margin-bottom:1px;
	}
}
.slider-icon-bottom{
	.owl-theme .owl-controls{
		position:static;
	}
}

.em-tabs-content{
	.owl-theme .owl-controls{
		top:-39px;
		right:11px;
		overflow:initial;
		margin-top:0;
	}
}
/*===========End Next Pre Slider============*/

/*===========Show Icon Next Pre Slider============*/
@mixin next-pre($font, $mar, $pad, $width){
	font-size:$font !important;
	margin:$mar !important;
	padding:$pad !important;
	width:$width;
}
@mixin next-pre-css3(){
	@include box-shadow(none !important);

}
@mixin next-pre-border(){
	border:1px solid;
	@include next-pre-css3();
}
@mixin next-pre-text(){
	text-transform:uppercase;
	@include next-pre(80%, 0, 0, auto);
	@include next-pre-css3();
	&:first-child{
		border-right:1px solid;
		padding-right:10px !important;
		margin-right:10px !important;
	}
	&:before{
		display:none !important
	}
}
@mixin next-pre-icon($font-icon-next, $font-icon-prev, $font-size){
	/*@include next-pre-border();*/
	&.owl-next:before{
		@include font-awesome($font-icon-next,$font-size);//mixin in mixin/_theme-mixin.scss
		@include transition1;// mixin in mixin/_theme-mixin.scss
		margin-left:3px;
	}
	&.owl-prev:before{
		@include font-awesome($font-icon-prev,$font-size);
		@include transition1;
		margin-right: 2px;
	}
}

/*show next-pre icon*/
.owl-theme .owl-controls .owl-buttons div{
	@include next-pre-icon(\f054,\f053,15px);
	@include next-pre(0, 0, 8px 7px, 32px);
	&.owl-prev{ @include border-radius(0); position:absolute; left:-5px; top:30%}
	&.owl-next{ @include border-radius(0); position:absolute; right:-5px; top:30%}
}


/*show next-pre text*/
.slider-icon-text{
	.owl-theme .owl-controls .owl-buttons div{
		@include next-pre-text();
	}
	.owl-theme .owl-controls{
		top:-33px;
	}
}

/*slider style padding left right, button slider left right*/
.slider-style02{
	padding:0 50px;
	margin:20px 0;
	.em-slider-navigation-icon{
		&.owl-theme .owl-controls{
			position:static;
			.owl-buttons div{
				position:absolute;
				top:23%;				
				&.owl-prev{
					left:-40px;
					right:auto;
				}
				&.owl-next{
					left:auto;
					right:-40px;
				}
			}
		}
	}
}

/*slider style navigation bottom*/
.slider-navi-bottom{
	.owl-theme .owl-controls{ margin-top:20px !important}
	.owl-theme .owl-controls .owl-buttons div.owl-next,
	.owl-theme .owl-controls .owl-buttons div.owl-prev{
		position:static; margin:0 3px !important;
	}
}



/*===========End Show Icon Next Pre Slider============*/

/*==========Show Pagination============*/
@mixin bullet($width, $height, $margin){
	width:$width !important;
	height:$height !important;
	margin:$margin !important;
}
/*Show icon circle*/
@mixin bullet-circle(){
	@include bullet(8px, 8px, 0 0 0 7x);
	@include border-radius(50% !important);//mixin in bootstrap/_mixins.scss
	@include opacity(1);// mixin in mixin/_theme-mixin.scss
}
@mixin bullet-circle-border(){
	@include bullet(12px, 12px, 0 0 0 10px);
	position:relative;
	border:2px solid;
	&:before{
		@include bullet(0, 0, 0);
		content:"";
		position:absolute;
		top:2px; left:2px;
		@include border-radius(50% !important);//mixin in bootstrap/_mixins.scss
		@include opacity(1);
	}
}
.owl-theme .owl-controls .owl-page{ 
	&.active, &:hover{
		span:before{
			width:4px !important;
			height:4px !important;
		}
	}
	span{
		border:1px solid;
		@include bullet-circle();
	}
}
/*Show icon square*/
@mixin bullet-square(){
	@include bullet(8px, 8px, 0 0 0 2px);
	@include border-radius(0 !important);
	@include opacity(1);
}
@mixin bullet-square-border(){
	@include bullet(12px, 12px, 0 0 0 10px);
	position:relative;
	@include border-radius(0 !important);
	border:1px solid;
	&:before{
		@include bullet(8px, 8px, 0);
		content:"";
		position:absolute;
		top:1px; left:1px;
		@include border-radius(0 !important);
		@include opacity(1);
	}
}
.slider-icon-square{
	.owl-theme .owl-controls .owl-page span{
		@include bullet-square();
	}
}



/*show number*/
@mixin bullet-number(){
	@include bullet(auto, auto, 0 0 0 1px);
	@include border-radius(0 !important);
	border:1px solid;
	padding:2px 7px !important;
	font-size:80%;
	&:before{
		display:none !important;
	}
}
.owl-pagination-numbers{
	&.owl-theme .owl-controls {
		.owl-page span.owl-numbers{
			@include bullet-number();
		}
		.owl-pagination{
			margin-top:1px;
		}
	}
}


/*RTL*/
.em-rtl{
	.owl-theme .owl-controls .owl-buttons div.owl-prev{ 
		left:auto; right:-5px;  
		-ms-transform: rotate(180deg); 
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next{ 
		right:auto; left:-5px;  
		-ms-transform: rotate(180deg); 
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.product-view-detail .product-img-box .more-views .owl-carousel {				
		.owl-controls .owl-buttons div.owl-next{    left: -30px;    right: auto;}
		.owl-controls .owl-buttons div.owl-prev{    right: -30px;    left: auto;}
	}
}

